<section class="wysiwyg vertical-padding">
	<div class="row">
		{% for item in component.columns %}
			<div class="columns small-12 medium-expand">
				{{ item.column }}
			</div>
		{% endfor %}
	</div>
</section>